* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page_width {
  margin: auto;
  width: 1200px;
  max-width: calc(100% - 40px);
}
.menu {
  display: none;
}

.header-section {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
}
.left img {
  height: 40px;
  width: 150px;
}
.mini-right {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.each-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  position: relative;
}
.each-right p,
.each-right svg {
  z-index: 99;
}
.left {
  z-index: 99;
}
.hidden-agenda {
  position: absolute;
  top: 0;
  padding-top: 50px;
  height: 400px;
  left: -230px;
  background-color: white;
  display: none;
}
.each-right:hover .hidden-agenda {
  display: block;
}
.hidden-agenda-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.harnessing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 280px;
}
.abt-img-sec img {
  border-radius: 12px;
  width: 280px;
  height: 280px;
}
.harnessing h4 {
  font-size: 20px;
}
.harnessing p {
  font-size: 15px;
}
.passage {
  width: 200px;
}
.hidden-agenda-3 {
  position: absolute;
  top: 0;
  padding-top: 50px;
  height: 450px;
  left: -440px;
  background-color: white;
  display: none;
}
.each-right:hover .hidden-agenda-3 {
  display: block;
}
.hidden-agenda-list-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.harnessing-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  background-color: white;
  border-radius: 12px 12px 0 0;
}
.abt-img-sec-3 img {
  border-radius: 12px;
  width: 400px;
  height: 250px;
}
.harnessing-3 h4 {
  font-size: 20px;
}
.harnessing-3 p {
  font-size: 18px;
}
.passage-3 {
  width: 400px;
}
.hidden-agenda-4 {
  position: absolute;
  top: 0;
  padding-top: 50px;
  height: 400px;
  left: -540px;
  background-color: white;
  display: none;
}
.each-right:hover .hidden-agenda-4 {
  display: block;
}
.hidden-agenda-list-4 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.harnessing-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  background-color: white;
  border-radius: 12px 12px 0 0;
}
.abt-img-sec-4 img {
  border-radius: 12px;
  width: 400px;
  height: 250px;
}
.harnessing-4 h4 {
  font-size: 20px;
}
.harnessing-4 p {
  font-size: 18px;
}
.passage-4 {
  width: 400px;
}
.hidden-agenda-2 {
  position: absolute;
  top: 0;
  padding-top: 50px;
  height: 500px;
  left: -330px;
  background-color: white;
  display: none;
}
.each-right:hover .hidden-agenda-2 {
  display: block;
}
.hidden-agenda-list-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.hidden-agenda-a2 {
  text-decoration: none;
  color: black;
}
.harnessing-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 280px;
}
.abt-img-sec img {
  border-radius: 12px;
  width: 280px;
  height: 280px;
}
.harnessing-2 h4 {
  font-size: 20px;
}
.harnessing-2 p {
  font-size: 15px;
}
.passage {
  width: 200px;
}
.color-dash {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}
.people-opportunities {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.opps {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.opps p {
  font-size: 16px;
  font-weight: 500;
  color: #c7c7cd;
  line-height: 24px;
}
.line {
  width: 40px;
  height: 5px;
  background-color: #f55203;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.testii {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.All-opportunities {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 25px;
}
.Buy-on-jum {
  margin-top: 40px;
  display: flex;
  margin-bottom: 80px;
  flex-wrap: wrap;
  gap: 40px;
}
.Buy-lefty {
  gap: 20px;
  max-width: 450px;
  flex: 1 1 400px;
}
.Buy-right {
  max-width: 450px;
  flex: 1 1 400px;
}
.Buy-lefty h1 {
  font-size: 40px;
  color: #f55203;
  max-width: 100%;
  margin-top: 20px;
}
.Buy-lefty p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #282828;
  font-weight: 400;
}
.explore {
  height: 45px;
  width: 120px;
  background-color: #f55203;
  color: white;
  padding-top: 15px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-top: 20px;
}
.explore:hover {
  background-color: #d24702;
}
.Buy-righty img {
  border-radius: 0px 60px 0 60px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.pinky {
  background-color: #fef3e8;
  padding: 50px 0;
}
.Sell-on-jum {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.lefty-part img {
  border-radius: 0px 60px 0 60px;
  max-width: 100%;
}
.Buy-on-jum-2 {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.Buy-lefty-2 {
  gap: 20px;
  width: 450px;
  max-width: 100%;
}
.Buy-lefty-2 h1 {
  font-size: 40px;
  color: #f55203;
  margin-top: 20px;
  max-width: 100%;
}
.Buy-lefty-2 p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #282828;
  font-weight: 400;
}
.explore-2 {
  height: 45px;
  width: 120px;
  background-color: #f55203;
  color: white;
  padding-top: 15px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;
}
.Buy-righty-2 img {
  border-radius: 0px 60px 0 60px;
  max-width: 100%;
}
.btn-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.All-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 200px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
}

.All-btn button {
  border: none;
  background-color: transparent;
  font-size: 17px;
}
.pinky {
  background-color: #fef3e8;
  padding: 50px 0;
}
.Sell-on-jum-4 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.lefty-part img {
  border-radius: 0px 60px 0 60px;
}
.Buy-lefty-4 {
  gap: 30px;
  width: 450px;
  max-width: 100%;
}
.Buy-lefty-4 h1 {
  font-size: 50px;
  margin-top: 20px;
  max-width: 100%;
  color: #f55203;
}
.Buy-lefty-4 p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #282828;
  font-weight: 400;
}
.Sell-on-jum-5 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.lefty-part img {
  border-radius: 0px 60px 0 60px;
}
.Buy-lefty-5 {
  gap: 30px;
  width: 450px;
  max-width: 100%;
}
.Buy-lefty-5 h1 {
  font-size: 50px;
  margin-top: 20px;
  max-width: 100%;
  color: #f55203;
}
.Buy-lefty-5 p {
  margin-top: 20px;
  max-width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #282828;
  font-weight: 400;
}
.jum-adv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
footer {
  background-color: #282828;
  margin-top: 50px;
}
.jum-foot {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.opp-footer {
  width: 230px;
  height: 40px;
}
.jum-foot-list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.First-jum-foot h4:hover,
.First-jum-foot p:hover {
  color: #f55203;
}
.First-jum-foot {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  color: white;
}
.First-jum-foot h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.First-jum-foot P {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.Contact-sec {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.Contact-sec h4:hover,
.Contact-sec p:hover {
  color: #f55203;
}
.follow-follow {
  width: 100%;
}
.follow-visit {
  display: flex;
  flex-wrap: wrap;
  color: white;
  gap: 200px;
}
.footer-icons {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.Copyright {
  color: white;
  width: 300px;
  max-width: 100%;
}
.fa-tw-li-yo {
  width: 300px;
  max-width: 100%;
}

.fa-tw-li-yo .links {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.fa-tw-li-yo h4 {
  color: white;
}

.fa-tw-li-yo i {
  font-size: 26px;
}
.cart-box {
  margin-bottom: 30px;
}
.cart-box h4 {
  color: white;
}

.Jum-carts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}

.Jum-cart {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  border: 1px solid white;
  width: 120px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

@media screen and (max-width: 768px) {
  .right {
    display: none;
  }
  .Buy-righty img {
    margin-top: 16px;
  }
  .Buy-on-jum {
    margin-bottom: 20px;
  }
  .Buy-righty-2 {
    margin-top: 10px;
  }
  .fa-tw-li-yo {
    display: none;
  }
}
@media screen and (max-width: 1240px) {
  .menu {
    display: flex;
  }
  .right {
    display: none;
  }
  .header-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .Buy-on-jum {
    flex-direction: column;
    align-items: center;
  }

  .Buy-lefty,
  .Buy-righty {
    flex: none;
    width: 100%;
    max-width: 100%;
  }
}
